<%- include("partials/header") %>

<article class="post-detail">
  <div class="post-meta">
    <span><%= blog.category || "General" %></span>
    <span><%= blog.createdAt.toLocaleDateString() %></span>
  </div>
  <h1><%= blog.title %></h1>
  <p class="post-author">By <%= blog.author %></p>

  <% if (blog.image) { %>
    <img class="detail-image" src="/uploads/<%= blog.image %>" alt="<%= blog.title %>">
  <% } %>

  <p class="detail-content"><%= blog.content %></p>

  <div class="form-actions">
    <a class="button button-ghost" href="/">Back</a>
    <% if (canManage) { %>
      <a class="button button-primary" href="/blogs/<%= blog._id %>/edit">Edit</a>
    <% } %>
  </div>
</article>

<%- include("partials/footer") %>
